<h1 class="hidden">Wave Promo App</h1>
<header>
   <h2 class="hidden">Header</h2>
        
    
  
        <nav class="navigationBar">
        <h3 class="hidden">Main Navigation</h3>
        <div class="navBar desktop top">
          <ul>
            <li >Explore</li>
            <li >Travel</li>
            <li >Shop</li>
          </ul>
        </div>
        <div class="hamburgerMenu">
        <img  class ="menuImg"src="images/menu1.svg" alt="Menu">
        </div>
      </nav>
      <nav class="navBar mobile">
        <h2 class="hidden">Main Navigation Mobile</h2>
        <ul>
          <a href="/"> <li>Explore</li></a>
          <a href="/"> <li>Travel</li></a>
          <a href="/"><li>Shop</li></a>
          
        </ul>
      </nav>

      <a href="/"
          ><img class="logo" src="images/logo.svg" alt="logo"
        /></a>
        </header>

        <h1>Salty Gypsy</h1>
        <div class="back"><a href="/" 
          ><img src="images/left-arrow.svg" alt="arrow"
        /> Back to all</a>
        </div>
        <div class="product"> 
           <img   src="images/product.png" alt="product"/>
                 
            <div class="stars"><img   src="images/stars.svg" alt="stars"/>
         </div>  
         <h2>Surf Signature Flex 5’8” Con Pad</h2>
        </div>


        <section id="section1" class="panel">


<!-- dynamically add some team buttons here -->

             <div class="bio-wrapper">
                <img class="u-image" src="" alt="">
                <p class="u-bio"></p>
           
            </div>


            
            
        </section>

    <div><a class="button btnCon" href="/">Buy</a></div>


       
      
