<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">


    <link rel="stylesheet" href="css/main.css">
        <title>Using Express</title>
</head>

<body>
    <ul><li>
        <a href="/contact">Contact</a>
    </li>
    <li>
            <a href="/">Home</a>
        
    </li>
      <li>
            <a href="/users">Users</a>
        
    </li>
    </ul>

    {{!-- this is a placeholder tag - express will render temp;ates/ partials here --}}

    {{{body}}}

  <h1>so much fun</h1>
    <p>love js</p>
    
    <script src="js/main.js"></script>
    </body>
</html>
