<!DOCTYPE html>
<html>
  <head>
    <title>Promo product</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
   <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
    {{{body}}}
      <script src="js/main.js"></script>
  </body>
</html>
