@import url("https://fonts.googleapis.com/css?family=Oswald|PT+Sans&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Montserrat", sans-serif;
  vertical-align: baseline;
  color: white;
  text-decoration: none; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button {
  border: none; }

p {
  line-height: 1.5em;
  text-align: justify;
  font-weight: lighter; }

body {
  background-color: #212121;
  margin: 0;
  padding: 0;
  font-size: 1.4rem;
  font-family: "PT Sans", Halvetica, sans-serif;
  color: #F4ECEC; }

ul li {
  text-decoration: none; }

.hidden {
  display: none; }

.overflow {
  overflow: hidden; }

header {
  min-height: 10px;
  background-color: #191919;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.logo {
  margin: 20px; }

.desktop ul {
  display: flex; }
.desktop li {
  padding: 20px;
  list-style-type: none;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 10px; }
  .desktop li:hover {
    background: #F4ECEC;
    color: #161515; }
  .desktop li:active {
    opacity: 1;
    background: #F4ECEC;
    color: #161515; }
    .desktop li:active a {
      color: #161515; }

.hamburgerMenu {
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around; }
  .hamburgerMenu .menuImg {
    margin: 35px 0 20px 20px; }

.navBar {
  display: none; }

.mobile {
  background: #161515;
  z-index: 1;
  height: 100vh;
  width: 100%;
  position: absolute;
  flex-direction: column;
  left: 0;
  margin-top: 50px; }
  .mobile li {
    padding: 20px;
    font-size: 5vw;
    font-family: "PT Sans", Halvetica, sans-serif;
    text-align: center; }
    .mobile li:hover {
      background: #1A9199;
      color: #161515; }

.toggle {
  display: block; }

h1 {
  text-align: left;
  font-family: "Oswald", Halvetica, sans-serif;
  font-weight: bold;
  color: #F4ECEC;
  margin-top: 20px;
  margin-left: 40px;
  margin-bottom: 30px; }

.back a {
  font-family: "PT Sans", Halvetica, sans-serif;
  color: #1A9199;
  margin-left: 40px; }

h2 {
  font-family: "Oswald", Halvetica, sans-serif;
  font-size: 3vh;
  color: #ffffff; }

.u-name {
  color: #54FCE2; }

#section1 {
  display: block; }
  #section1 button {
    background-color: transparent;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    color: #F4ECEC;
    font-family: "PT Sans", Halvetica, sans-serif;
    font-size: 2vh;
    outline: none; }
    #section1 button:hover {
      background-color: #54FCE2;
      color: #191919; }
  #section1 .u-bio {
    display: block;
    font-family: "PT Sans", Halvetica, sans-serif;
    color: #858585;
    font-size: 2vh;
    padding: 10px; }
  #section1 .bio-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; }
  #section1 .u-image {
    margin: 15px; }

div .btnCon {
  background-color: #ffffff;
  color: #191919;
  font-family: "PT Sans", Halvetica, sans-serif;
  font-size: 2vh;
  font-weight: bold;
  padding: 20px 20px 20px 20px;
  border-radius: 17px;
  width: 10%;
  margin: 0 auto;
  display: flex;
  justify-content: center; }
div a {
  text-align: center; }

@media screen and (min-width: 758px) {
  .logo {
    width: 15vh;
    margin-right: 50px; }

  h1 {
    font-size: 8vh; }

  .back {
    font-size: 4vh;
    margin-bottom: 50px; }
    .back img {
      width: 4vh; }

  h2 {
    font-size: 5vh; }

  button {
    padding: 40px;
    margin: 30px;
    border-radius: 10px;
    font-size: 5vh; } }
@media screen and (min-width: 1024px) {
  .mobile {
    display: none; }

  .navigationBar {
    padding: 0px;
    align-items: center; }
    .navigationBar .desktop {
      display: block; }
      .navigationBar .desktop li {
        font-size: 20px;
        margin: 40px 40px 40px 40px; }
    .navigationBar .hamburgerMenu {
      display: none; }

  .logo {
    width: 20vh;
    margin-right: 100px;
    margin-top: 40px; }

  h1 {
    font-size: 8vh;
    margin-left: 80px; }

  .back {
    font-size: 5vh;
    margin-bottom: 80px;
    margin-left: 40px; }
    .back img {
      width: 5vh; }

  .product {
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
    .product .stars {
      padding: 40px; }
    .product panel {
      width: auto; } }
.product, .stars, h2, #section1, #section1 .bio-wrapper, #section1 .u-role, #section1 .u-name, #section1 .u-bio, #section1 .u-image, div .btnCon {
  text-align: center;
  margin-top: 5vh; }

/*# sourceMappingURL=main.css.map */
