//Load fonts

@import url('https://fonts.googleapis.com/css?family=Oswald|PT+Sans&display=swap');
//Define colours
$bgcolor: #212121;
$header-bar:#191919;
$navbar:#161515;
$header: #F4ECEC;
$tagline: #1A9199;
$indicator: #707070;
$indicator-active: #54FCE2;
$text: #858585;
$but-color: #ffffff;

//Define fonts
$primary-font: 'Oswald', Halvetica, sans-serif;
$secondary-font: 'PT Sans', Halvetica, sans-serif;




